@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-gray-200 bg-black/[0.90];
}

.discord-bg {
    background-color: #7289da;
    transition: all 0.1s ease-in-out;
}
.discord-bg:hover {
    background-color: #7289da90;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
*::-webkit-scrollbar-track {
    @apply bg-gray-900;
}
*::-webkit-scrollbar-thumb {
    @apply bg-gray-700;
    border-radius: 0;
    border: none;
}
